
.columns {
  @media #{$small-only} {
    padding-left: $column-gutter;
    padding-right: $column-gutter;
  }
}

.extra-padding-right {

  @media #{$large-up} {
    padding-right: rem-calc(40);
  }
}
