//This CSS resource incorporates links to font software which is the valuable copyrighted
//property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
//redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
//Imaging with any questions regarding Web Fonts:  http://webfonts.fonts.com

@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=e1d5f930-d932-426b-86b6-24ffd4aff26c");

@font-face{
  font-family: "Avenir W01_n2";
  src: url("../webfonts/fonts/3511a780-31ca-4ee1-9083-89b1b7185748.eot?#iefix") format("eot");
}

@font-face{
  font-family: "Avenir W01";
  src: url("../webfonts/fonts/3511a780-31ca-4ee1-9083-89b1b7185748.eot?#iefix");
  src: url("../webfonts/fonts/3511a780-31ca-4ee1-9083-89b1b7185748.eot?#iefix") format("eot"), url("../webfonts/fonts/c4352a95-7a41-48c1-83ce-d8ffd2a3b118.woff") format("woff"), url("../webfonts/fonts/3e419b5b-c789-488d-84cf-a64009cc308e.ttf") format("truetype"), url("../webfonts/fonts/ca038835-1be3-4dc5-ba25-be1df6121499.svg#ca038835-1be3-4dc5-ba25-be1df6121499") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face{
  font-family: "Avenir W01_o2";
  src: url("../webfonts/fonts/6500273c-8e8b-48d2-b0c0-dcae293c0120.eot?#iefix") format("eot");
}

@font-face{
  font-family: "Avenir W01";
  src: url("../webfonts/fonts/6500273c-8e8b-48d2-b0c0-dcae293c0120.eot?#iefix");
  src: url("../webfonts/fonts/6500273c-8e8b-48d2-b0c0-dcae293c0120.eot?#iefix") format("eot"), url("../webfonts/fonts/47fd1045-6e5b-4c87-9235-cfbc2b42cde7.woff") format("woff"), url("../webfonts/fonts/60662abb-0ac3-46b2-930f-4719462489c9.ttf") format("truetype"), url("../webfonts/fonts/9cf39ac2-87a5-4c4e-a604-7cece19d30bd.svg#9cf39ac2-87a5-4c4e-a604-7cece19d30bd") format("svg");
  font-weight: 200;
  font-style: oblique;
}

@font-face{
  font-family: "Avenir W01_n3";
  src: url("../webfonts/fonts/4f32268f-fd86-4960-b72c-4bb1ba75ec6f.eot?#iefix") format("eot");
}

@font-face{
  font-family: "Avenir W01";
  src: url("../webfonts/fonts/4f32268f-fd86-4960-b72c-4bb1ba75ec6f.eot?#iefix");
  src: url("../webfonts/fonts/4f32268f-fd86-4960-b72c-4bb1ba75ec6f.eot?#iefix") format("eot"), url("../webfonts/fonts/939cba03-5b40-4d01-9bc5-7589eca863db.woff") format("woff"), url("../webfonts/fonts/849bc5b9-a2ff-4343-977b-26ba8bd24a60.ttf") format("truetype"), url("../webfonts/fonts/f67fa3b5-c1d1-488f-8e60-a828b9ad56a4.svg#f67fa3b5-c1d1-488f-8e60-a828b9ad56a4") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face{
  font-family: "Avenir W01_o3";
  src: url("../webfonts/fonts/acc13cdc-338a-43e6-a156-e54a4c87582d.eot?#iefix") format("eot");
}

@font-face{
  font-family: "Avenir W01";
  src: url("../webfonts/fonts/acc13cdc-338a-43e6-a156-e54a4c87582d.eot?#iefix");
  src: url("../webfonts/fonts/acc13cdc-338a-43e6-a156-e54a4c87582d.eot?#iefix") format("eot"), url("../webfonts/fonts/ca94ed56-18fc-4856-940a-70a072607c7c.woff") format("woff"), url("../webfonts/fonts/dd6da407-70fe-4aa3-a1c7-64f0cb086f01.ttf") format("truetype"), url("../webfonts/fonts/c7f424be-90e1-45b8-b617-ee3589a859bd.svg#c7f424be-90e1-45b8-b617-ee3589a859bd") format("svg");
  font-weight: 300;
  font-style: oblique;
}

@font-face{
  font-family: "Avenir W01_n4";
  src: url("../webfonts/fonts/2f5a6074-badc-4e08-83f1-ed67fe5c3d7c.eot?#iefix") format("eot");
}

@font-face{
  font-family: "Avenir W01";
  src: url("../webfonts/fonts/2f5a6074-badc-4e08-83f1-ed67fe5c3d7c.eot?#iefix");
  src: url("../webfonts/fonts/2f5a6074-badc-4e08-83f1-ed67fe5c3d7c.eot?#iefix") format("eot"), url("../webfonts/fonts/b9ebb19d-88c1-4cbd-9baf-cf51972422ec.woff") format("woff"), url("../webfonts/fonts/5ed4f98e-9044-4810-88ff-74d412c1351f.ttf") format("truetype"), url("../webfonts/fonts/4cb16859-16ca-4342-b89c-292dc83266af.svg#4cb16859-16ca-4342-b89c-292dc83266af") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: "Avenir W01_o4";
  src: url("../webfonts/fonts/8f21e618-9282-4df1-b556-73ee82bdd673.eot?#iefix") format("eot");
}

@font-face{
  font-family: "Avenir W01";
  src: url("../webfonts/fonts/8f21e618-9282-4df1-b556-73ee82bdd673.eot?#iefix");
  src: url("../webfonts/fonts/8f21e618-9282-4df1-b556-73ee82bdd673.eot?#iefix") format("eot"), url("../webfonts/fonts/3695342c-b5e2-4010-b0d4-56f563465922.woff") format("woff"), url("../webfonts/fonts/2ba9f875-66d9-414d-a426-5a012b443475.ttf") format("truetype"), url("../webfonts/fonts/0a88351a-e628-4b1f-99eb-3a729518af0a.svg#0a88351a-e628-4b1f-99eb-3a729518af0a") format("svg");
  font-weight: 400;
  font-style: oblique;
}

@font-face{
  font-family: "Avenir W01_n8";
  src: url("../webfonts/fonts/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?#iefix") format("eot");
}

@font-face{
  font-family: "Avenir W01";
  src: url("../webfonts/fonts/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?#iefix");
  src: url("../webfonts/fonts/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?#iefix") format("eot"), url("../webfonts/fonts/7147ec3a-8ff8-4ec9-8c5c-bd1571dc6ae6.woff") format("woff"), url("../webfonts/fonts/d1dc54b2-878d-4693-8d6e-b442e99fef68.ttf") format("truetype"), url("../webfonts/fonts/731dd4d3-64da-427d-ba61-01575b3cf3f7.svg#731dd4d3-64da-427d-ba61-01575b3cf3f7") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face{
  font-family: "Avenir W01_o8";
  src: url("../webfonts/fonts/7be0fdec-384a-42b5-ab27-c60a322cde7d.eot?#iefix") format("eot");
}

@font-face{
  font-family: "Avenir W01";
  src: url("../webfonts/fonts/7be0fdec-384a-42b5-ab27-c60a322cde7d.eot?#iefix");
  src: url("../webfonts/fonts/7be0fdec-384a-42b5-ab27-c60a322cde7d.eot?#iefix") format("eot"), url("../webfonts/fonts/53554f6f-4b01-4815-87fe-82c49b8ba5a9.woff") format("woff"), url("../webfonts/fonts/28dfedaf-6372-45a1-8833-b3078dc56a21.ttf") format("truetype"), url("../webfonts/fonts/f747b6ee-4d13-4e45-815d-f33ac1b71d63.svg#f747b6ee-4d13-4e45-815d-f33ac1b71d63") format("svg");
  font-weight: 800;
  font-style: oblique;
}

@font-face{
  font-family: "Avenir W01_n9";
  src: url("../webfonts/fonts/a24b3f55-c8c8-41a1-a77e-7cdf417d82f6.eot?#iefix") format("eot");
}

@font-face{
  font-family: "Avenir W01";
  src: url("../webfonts/fonts/a24b3f55-c8c8-41a1-a77e-7cdf417d82f6.eot?#iefix");
  src: url("../webfonts/fonts/a24b3f55-c8c8-41a1-a77e-7cdf417d82f6.eot?#iefix") format("eot"), url("../webfonts/fonts/5a05cf7f-f332-456f-ae67-d8c26e0d35b3.woff") format("woff"), url("../webfonts/fonts/c33278bc-988e-440b-b4be-6acc095e6044.ttf") format("truetype"), url("../webfonts/fonts/7bdad4a5-289b-42f9-b6fa-c5883b9e9f23.svg#7bdad4a5-289b-42f9-b6fa-c5883b9e9f23") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face{
  font-family: "Avenir W01_o9";
  src: url("../webfonts/fonts/fbf3e69b-73b2-406d-84bc-feda30a0a563.eot?#iefix") format("eot");
  src: url("../webfonts/fonts/fbf3e69b-73b2-406d-84bc-feda30a0a563.eot?#iefix") format("eot"), url("../webfonts/fonts/36ec15b9-f8da-447f-8fed-a9cfdfb91fbb.woff") format("woff"), url("../webfonts/fonts/230d6b14-6d44-4dd5-a6ae-a4287936e51e.ttf") format("truetype"), url("../webfonts/fonts/9bce4920-94e2-4e4d-bd34-818801dd3eb3.svg#9bce4920-94e2-4e4d-bd34-818801dd3eb3") format("svg");
}

@font-face{
  font-family: "Avenir W01";
  src: url("../webfonts/fonts/fbf3e69b-73b2-406d-84bc-feda30a0a563.eot?#iefix");
  src: url("../webfonts/fonts/fbf3e69b-73b2-406d-84bc-feda30a0a563.eot?#iefix") format("eot"), url("../webfonts/fonts/36ec15b9-f8da-447f-8fed-a9cfdfb91fbb.woff") format("woff"), url("../webfonts/fonts/230d6b14-6d44-4dd5-a6ae-a4287936e51e.ttf") format("truetype"), url("../webfonts/fonts/9bce4920-94e2-4e4d-bd34-818801dd3eb3.svg#9bce4920-94e2-4e4d-bd34-818801dd3eb3") format("svg");
  font-weight: 900;
  font-style: oblique;
}

@font-face{
  font-family: "BT Serifa W01";
  src: url("../webfonts/fonts/d2746be7-a5ee-43c8-a62e-9c549ed6058f.eot?#iefix") format("eot");
  src: url("../webfonts/fonts/d2746be7-a5ee-43c8-a62e-9c549ed6058f.eot?#iefix") format("eot"), url("../webfonts/fonts/addf50c8-1dc1-41e3-ba3d-5e3e9a653295.woff") format("woff"), url("../webfonts/fonts/f2882d46-fad7-4b8a-a212-238dc1206429.ttf") format("truetype"), url("../webfonts/fonts/975604bd-545e-4359-9304-a1bb16311287.svg#975604bd-545e-4359-9304-a1bb16311287") format("svg");
  font-weight: bold;
}

@font-face{
  font-family: "BT Serifa W01";
  src: url("../webfonts/fonts/d2746be7-a5ee-43c8-a62e-9c549ed6058f.eot?#iefix");
  src: url("../webfonts/fonts/d2746be7-a5ee-43c8-a62e-9c549ed6058f.eot?#iefix") format("eot"), url("../webfonts/fonts/addf50c8-1dc1-41e3-ba3d-5e3e9a653295.woff") format("woff"), url("../webfonts/fonts/f2882d46-fad7-4b8a-a212-238dc1206429.ttf") format("truetype"), url("../webfonts/fonts/975604bd-545e-4359-9304-a1bb16311287.svg#975604bd-545e-4359-9304-a1bb16311287") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "BT Serifa W01_n2";
  src: url("../webfonts/fonts/6288082a-c36c-4574-b454-31746b339b75.eot?#iefix") format("eot");
  src: url("../webfonts/fonts/6288082a-c36c-4574-b454-31746b339b75.eot?#iefix") format("eot"), url("../webfonts/fonts/39628152-7edf-4b67-8f1f-c1ae3a57b21d.woff") format("woff"), url("../webfonts/fonts/2404199c-ded1-4b5b-be85-c2fdf31cb249.ttf") format("truetype"), url("../webfonts/fonts/7e33b029-1eb0-4340-bfd7-6f614e9c5434.svg#7e33b029-1eb0-4340-bfd7-6f614e9c5434") format("svg");
}

@font-face{
  font-family: "BT Serifa W01";
  src: url("../webfonts/fonts/6288082a-c36c-4574-b454-31746b339b75.eot?#iefix");
  src: url("../webfonts/fonts/6288082a-c36c-4574-b454-31746b339b75.eot?#iefix") format("eot"), url("../webfonts/fonts/39628152-7edf-4b67-8f1f-c1ae3a57b21d.woff") format("woff"), url("../webfonts/fonts/2404199c-ded1-4b5b-be85-c2fdf31cb249.ttf") format("truetype"), url("../webfonts/fonts/7e33b029-1eb0-4340-bfd7-6f614e9c5434.svg#7e33b029-1eb0-4340-bfd7-6f614e9c5434") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face{
  font-family: "BT Serifa W01_i2";
  src: url("../webfonts/fonts/c1ea1303-19b6-4e80-b1f8-cec8adfe4af2.eot?#iefix") format("eot");
}

@font-face{
  font-family: "BT Serifa W01";
  src: url("../webfonts/fonts/c1ea1303-19b6-4e80-b1f8-cec8adfe4af2.eot?#iefix");
  src: url("../webfonts/fonts/c1ea1303-19b6-4e80-b1f8-cec8adfe4af2.eot?#iefix") format("eot"), url("../webfonts/fonts/3094ede2-edef-4e00-9ee1-d701f06ea06a.woff") format("woff"), url("../webfonts/fonts/816b6b2c-3ad1-4fcb-9e53-8d61ee7a639b.ttf") format("truetype"), url("../webfonts/fonts/f62aad3b-f309-4a42-b71e-ecd4f318e4f8.svg#f62aad3b-f309-4a42-b71e-ecd4f318e4f8") format("svg");
  font-weight: 200;
  font-style: italic;
}

@font-face{
  font-family: "BT Serifa W01_n3";
  src: url("../webfonts/fonts/ede3e4b9-6264-4f63-bf25-93a312b5a81a.eot?#iefix") format("eot");
}

@font-face{
  font-family: "BT Serifa W01";
  src: url("../webfonts/fonts/ede3e4b9-6264-4f63-bf25-93a312b5a81a.eot?#iefix");
  src: url("../webfonts/fonts/ede3e4b9-6264-4f63-bf25-93a312b5a81a.eot?#iefix") format("eot"), url("../webfonts/fonts/5c14d232-1795-482f-b98f-73b060df175d.woff") format("woff"), url("../webfonts/fonts/db9e2878-258b-4afb-a0bf-7264a8164036.ttf") format("truetype"), url("../webfonts/fonts/8c7078f1-172b-4b89-9c96-9b797f733865.svg#8c7078f1-172b-4b89-9c96-9b797f733865") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face{
  font-family: "BT Serifa W01_i3";
  src: url("../webfonts/fonts/4c69b180-ccb6-46a1-9983-dd66f937c288.eot?#iefix") format("eot");
}

@font-face{
  font-family: "BT Serifa W01";
  src: url("../webfonts/fonts/4c69b180-ccb6-46a1-9983-dd66f937c288.eot?#iefix");
  src: url("../webfonts/fonts/4c69b180-ccb6-46a1-9983-dd66f937c288.eot?#iefix") format("eot"), url("../webfonts/fonts/0ea41df8-dd48-455c-ba10-cea13f45e6c1.woff") format("woff"), url("../webfonts/fonts/74004d83-7297-4a83-8473-9e16a1390ff8.ttf") format("truetype"), url("../webfonts/fonts/b288c661-5b30-4dd7-84db-35909e50823e.svg#b288c661-5b30-4dd7-84db-35909e50823e") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face{
  font-family: "BT Serifa W01_n4";
  src: url("../webfonts/fonts/5f54c55b-c37c-4e25-8da5-4a455005ef1e.eot?#iefix") format("eot");
}

@font-face{
  font-family: "BT Serifa W01";
  src: url("../webfonts/fonts/5f54c55b-c37c-4e25-8da5-4a455005ef1e.eot?#iefix");
  src: url("../webfonts/fonts/5f54c55b-c37c-4e25-8da5-4a455005ef1e.eot?#iefix") format("eot"), url("../webfonts/fonts/67152728-05bc-46ab-a9b5-a32dbc43e415.woff") format("woff"), url("../webfonts/fonts/cc6b9283-a62f-4b2b-8b78-f35f7a42f276.ttf") format("truetype"), url("../webfonts/fonts/59240aab-b257-43ba-b8ae-1184001de365.svg#59240aab-b257-43ba-b8ae-1184001de365") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url('../webfonts/icomoon/icomoon.eot');
  src: url('../webfonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/icomoon/icomoon.woff') format('woff'),
  url('../webfonts/icomoon/icomoon.ttf') format('truetype'),
  url('../webfonts/icomoon/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon2';
  src: url('../webfonts/icomoon/icomoon2.eot');
  src: url('../webfonts/icomoon/icomoon2.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/icomoon/icomoon2.woff') format('woff'),
  url('../webfonts/icomoon/icomoon2.ttf') format('truetype'),
  url('../webfonts/icomoon/icomoon2.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Use the following CSS code if you want to use data attributes for inserting your icons

[data-icon]:before {
  content: attr(data-icon);
  font-family: 'icomoon';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

//Use the following CSS code if you want to have a class per icon
//
//Instead of a list of all class selectors,
//you can use the generic selector below, but it's slower:
//[class*="icon-"] {

%icon,
%icon-arrow2right, %icon-arrow2down, %icon-healthystart %icon-caringadults, %icon-twitter, %icon-press-release, %icon-news, %icon-arrowleft, %icon-arrowright, %icon-leftarrow, %icon-rightarrow, %icon-grid, %icon-list, %icon-arrow-left, %icon-arrow-opened, %icon-arrow-handdrawn, %icon-arrow-circle, %icon-magnify-glass, %icon-attendance, %icon-early-childhood, %icon-grad-rate-data, %icon-literacy, %icon-mentoring, %icon-arrow-left2, %icon-compass, %icon-kid, %icon-xo, %icon-selectboxarrow, %icon-facebook, %icon-google-plus, %icon-plus, %icon-family-engagement, %icon-menu, %icon-trail-arrow, %icon-active-arrow, %icon-youthinvolvement, %icon-usingdata, %icon-stem, %icon-specialpopulations, %icon-social, %icon-riskbeharviors, %icon-reengagingyouth, %icon-healthandwellness, %icon-expandedlearning, %icon-collegecareersuccess, %icon-caringadults, %icon-education, %icon-healthystart, %icon-opportunities, %icon-safeplaces {
  font-family: 'icomoon';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

%icon-arrow2right:before {
  content: "\e5fc";
}

%icon-arrow2down:before {
  content: "\e601";
}

%icon-healthystart:before {
  content: "\e025";
}

%icon-caringadults:before {
  content: "\e024";
}

%icon-twitter:before {
  content: "\e007";
}

%icon-press-release:before {
  content: "\e008";
}

%icon-news:before {
  content: "\e009";
}

%icon-arrowleft:before {
  content: "\e00a";
}

%icon-arrowright:before {
  content: "\e006";
}

%icon-leftarrow:before {
  content: "\e00b";
}

%icon-rightarrow:before {
  content: "\e005";
}

%icon-grid:before {
  content: "\e00d";
}

%icon-list:before {
  content: "\e00e";
}

%icon-arrow-left:before {
  content: "\e011";
}

%icon-arrow-opened:before {
  content: "\e012";
}

%icon-arrow-handdrawn:before {
  content: "\e013";
}

%icon-arrow-circle:before {
  content: "\e014";
}

%icon-magnify-glass:before {
  content: "\e01b";
}

%icon-attendance:before {
  content: "\e015";
}

%icon-early-childhood:before {
  content: "\e016";
}

%icon-grad-rate-data:before {
  content: "\e018";
}

%icon-literacy:before {
  content: "\e019";
}

%icon-mentoring:before {
  content: "\e01a";
}

%icon-arrow-left2:before {
  content: "\e01c";
}

%icon-compass:before {
  content: "\e01d";
}

%icon-kid:before {
  content: "\e01e";
}

%icon-xo:before {
  content: "\e01f";
}

%icon-selectboxarrow:before {
  content: "\e020";
}

%icon-facebook:before {
  content: "\e021";
}

%icon-google-plus:before {
  content: "\e022";
}

%icon-plus:before {
  content: "\e023";
}

%icon-family-engagement:before {
  content: "\e017";
}

%icon-menu:before {
  content: "\e00c";
}

%icon-trail-arrow:before {
  content: "\e010";
}

%icon-active-arrow:before {
  content: "\e00f";
}

%icon-youthinvolvement:before {
  content: "\e600";
}

%icon-usingdata:before {
  content: "\e602";
}

%icon-stem:before {
  content: "\e603";
}

%icon-specialpopulations:before {
  content: "\e604";
}

%icon-social:before {
  content: "\e605";
}

%icon-riskbeharviors:before {
  content: "\e606";
}

%icon-reengagingyouth:before {
  content: "\e607";
}

%icon-healthandwellness:before {
  content: "\e608";
}

%icon-expandedlearning:before {
  content: "\e609";
}

%icon-collegecareersuccess:before {
  content: "\e60a";
}

%icon-education:before {
  content: "\e003";
}

%icon-opportunities:before {
  content: "\e001";
}

%icon-safeplaces:before {
  content: "\e000";
}
