//////////////////////////////
// Signup form (no copy)
//////////////////////////////
.signup-form--form {
  clear: both;
  display: flex;
  flex-wrap: wrap;

  @media #{$medium-up} {
    flex-wrap: nowrap;
  }

  input {
    flex: 0 0 100%;
    margin-bottom: rem-calc(20);

    @media #{$medium-up} {
      flex: 0 0 60%;
      margin-bottom: 0;
      margin-right: rem-calc(20);
      max-width: 60%;
    }
  }

  .button {
    flex: 0 0 100%;
    margin-bottom: 0;

    @media #{$medium-up} {
      flex: 0 0 40%;
    }
  }
}

.signup-form {

  input {
    border: 1px solid #ab99d0;
    padding: rem-calc(9);
  }
}

