///////////////////////////
// Stats
///////////////////////////
.stat-large,
.stat-small,
.stat-description {
  color: $secondary-color;
}

.state-detail--more-grads {

  .stat-item:last-child {
    margin-bottom: 0;
  }
}

.stat-description {
  font-weight: normal;

  @media #{$medium-up} {
    font-size: rem-calc(20);
    line-height: rem-calc(24);
  }
}

.stat-small {
  font-size: rem-calc(32);
  line-height: 1.1;

  @media #{$medium-up} {
    font-size: rem-calc(48);
    line-height: rem-calc(50);
  }
}

.stat-large {
  font-size: rem-calc(48);
  font-weight: 800;
  line-height: 1.1;

  @media #{$large-up} {
    font-size: rem-calc(64);
  }
}

.stat-small,
p.stat-small {
  color: $secondary-color;
  font-size: rem-calc(32);
  font-weight: bold;
  line-height: 1.1;
  margin: 0;

  @media #{$medium-up} {
    font-size: rem-calc(48);
    line-height: rem-calc(50);
  }
}

.stat-description {
  color: $secondary-color;
  font-weight: 300;
  margin: 0;

  @media #{$medium-up} {
    font-size: rem-calc(20);
    line-height: rem-calc(24);
  }
}
