<li class="hide-in-footer has-submenu showing-toggle">
  <a href="/about" class="hide-in-footer showing-toggle" target="" data-drupal-link-system-path="node/63">About</a>
  <ul class="showing-toggle-nav" style="height: auto; display: block;">
    <li>
      <a href="/promises" target="">The Five Promises</a>
    </li>
    <li>
      <a href="/our-history" target="">Our History</a>
    </li>
    <li>
      <a href="/partners" target="">Join the Alliance</a>
    </li>
    <li>
      <a href="/donors" target="">Funders</a>
    </li>
    <li>
      <a href="http://www.firstfocus.net/" target="">Advocacy</a>
    </li>
    <li>
      <a href="/staff" target="">Leadership &amp; Staff</a>
    </li>
    <li>
      <a href="/careers" target="">Careers</a>
    </li>
    <li>
      <a href="/contact-us" target="">Contact Us</a>
    </li>
  </ul>

</li>
<li class="has-submenu">
  <a href="/news-opinion" target="" data-drupal-link-system-path="news-opinion">News</a>
  <ul>
    <li>
      <a href="/press-releases" target="" data-drupal-link-system-path="press-releases">Press Releases</a>
    </li>
    <li>
      <a href="/news" target="" data-drupal-link-system-path="news">Latest News</a>
    </li>
    <li>
      <a href="/media-resources" target="" data-drupal-link-system-path="media-resources">Press Room</a>
    </li>
    <li>
      <a href="/opinions" target="" data-drupal-link-system-path="opinions">Opinions</a>
    </li>
  </ul>

</li>
<li class="has-submenu">
  <a href="/programs" target="">Initiatives</a>
  <ul>
    <li>
      <a href="/program/center-promise" target="">Center for Promise</a>
    </li>
    <li>
      <a href="http://gradnation.americaspromise.org" target="">GradNation</a>
    </li>
    <li>
      <a href="/program/gradnation-community-summits" target="">GradNation Community Summits</a>
    </li>
    <li>
      <a href="http://www.americaspromise.org/building-grad-nation-report" target="">Building a GradNation
        Report</a>
    </li>
    <li>
      <a href="http://gradnation.americaspromise.org/state-activation" target="">GradNation State Activation
        Initiative</a>
    </li>
    <li>
      <a href="/youth-opportunity-fund" target="">Youth Opportunity Fund</a>
    </li>
  </ul>

</li>
<li class="has-submenu">
  <a href="/learning-library" target="" data-drupal-link-system-path="learning-library">Resources</a>
  <ul>
    <li>
      <a href="/learning-library#/search?sources=316" target=""
         data-drupal-link-system-path="learning-library">Center for Promise Resources</a>
    </li>
    <li>
      <a href="http://gradnation.americaspromise.org/reports-resources" target="">GradNation Resources</a>
    </li>
    <li>
      <a href="/parent-engagement-toolkit" target="">Parent Engagement Toolkit</a>
    </li>
    <li>
      <a href="/volunteer" target="">Get Involved</a>
    </li>
    <li>
      <a href="/report/barriers-wellness" title="Voices and Views from Young People in Five Cities"
         data-drupal-link-system-path="node/9195">2016 Barriers to Wellness</a>
    </li>
    <li>
      <a
        href="http://www.americaspromise.org/report/closing-college-gap-roadmap-postsecondary-readiness-and-attainment"
        target="" title="Closing the College Gap: A Roadmap to Postsecondary Readiness and Attainment">2016
        Closing the College Gap</a>
    </li>
    <li>
      <a href="/report/2016-building-grad-nation-data-brief"
         title="OVERVIEW OF 2013-14 HIGH SCHOOL GRADUATION RATES" data-drupal-link-system-path="node/1676">2016
        Building a Grad Nation Data Brief</a>
    </li>
    <li>
      <a href="/report/2016-building-grad-nation-report"
         title="Progress and challenge in raising high school graduation rates"
         data-drupal-link-system-path="node/111">2016 Building a Grad Nation Report</a>
    </li>
    <li>
      <a href="/report/hidden-plain-sight" target="" title="HOMELESS STUDENTS IN AMERICA’S PUBLIC SCHOOLS"
         data-drupal-link-system-path="node/1682">2016 Hidden in Plain Sight</a>
    </li>
    <li>
      <a href="/report/2015-building-grad-nation-report"
         title="Progress and Challenge in Ending the High School Dropout Epidemic"
         data-drupal-link-system-path="node/1669">2015 Building a Grad Nation Report</a>
    </li>
    <li>
      <a href="/report/dont-quit-me" target=""
         title="What Young People Who Left School Say About the Power of Relationships"
         data-drupal-link-system-path="node/1320">2015 Don’t Quit on Me</a>
    </li>
    <li>
      <a href="/report/dont-call-them-dropouts" title="Don't Call Them Dropouts"
         data-drupal-link-system-path="node/392">Don't Call Them Dropouts</a>
    </li>
  </ul>

</li>
<li class="has-submenu">
  <a href="/events" target="" data-drupal-link-system-path="events">Events</a>
  <ul>
    <li>
      <a href="/event/recommit-kids-summit-americas-future" data-drupal-link-system-path="node/9219">Recommit2Kids
        Summit</a>
    </li>
    <li>
      <a href="/event/20th-anniversary-promise-night" data-drupal-link-system-path="node/9218">20th
        Anniversary Promise Night</a>
    </li>
  </ul>
</li>
<li class="hide-in-header">
  <a href="/press-room" class="hide-in-header" target="">Press Room</a>
</li>