// Main navigation theme

.top-bar-section .dropdown li {
  padding: 0;
}

.top-bar {
  @include grid-column(6);

  &:not(.microsite-top-bar) {
    @extend .hide-for-small;
  }

  @media #{$medium-up} {
    margin-left: 24%;
  }

  @media #{$large-up} {
    margin-left: 25%;
  }

  .top-bar-section {

    .nav-bar.main-navigation-menu {
      font-weight: 900;
      overflow: hidden;
      text-transform: uppercase;

      > li {
        background-color: $white;
        margin: 0;
        padding: rem-calc(16 3);

        @media #{$large-up} {
          padding: rem-calc(16 15);
        }

        &:hover {
          background-color: $silver;

          a {
            border-color: $tertiary-color;
            text-decoration: none;
          }

          .dropdown {
            opacity: 1;
          }
        }

        a {
          border-bottom: 2px solid transparent;
          //color: $secondary-color;
          letter-spacing: rem-calc(1);
          line-height: 1.2;
          // Had to override Foundation dropdown.
          padding: rem-calc(0 0 6 0);
          position: relative;

          @media #{$large-up} {
            font-size: rem-calc(15);
          }

          &.is-active {
            border-color: $tertiary-color;
          }

          &:after {
            display: none;
          }
        }
      }

      .dropdown {
        opacity: 0;
        padding-top: rem-calc(5);
        transition: opacity .3s ease;

        .menu.nav-bar {

          a {
            border: 0 none;
            font-size: rem-calc(11);
            letter-spacing: 0;
            padding: 1.4em;
          }

          a:hover {
            border: 0 none;
          }
        }
      }
    }
  }
}
