.field-node--field-paragraph,
.field-name-field-body-paragraphs {
  > .field-items {

    > .field-item {

      &:after {
        background-color: $silver;
        content: '';
        display: block;
        height: rem-calc(1);
        margin: 40px auto 0 auto;
        max-width: $row-width - $column-gutter;
      }
    }
  }
}

.about--five-promises {

  li {
    padding: 0;
  }
}

.about--five-promises,
.about--five-promises-2 {
  list-style: none;
  margin: 0;

  li {
    margin-bottom: rem-calc(35);
    margin-top: rem-calc(35);
  }
}

.magellan-scrollnav {
  margin-top: rem-calc(40);
  //width: 25%;

  [data-magellan-expedition], [data-magellan-expedition-clone] {
    width: 100%;
    min-width: 0;

    @media #{$large-up} {
      margin-left: auto;
      margin-right: 0;
    }
  }

  .has-dropdown {
    position: relative;
  }

  .dropdown-opener {
    cursor: pointer;
    height: 100%;
    padding-top: rem-calc(3);
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;

    &.opened i:before {
      content: '\f068';
    }
  }

  .dropdown {

    li a {
      background-color: $tertiary-color;
      color: $white;
    }
  }

  [data-magellan-expedition-clone] {
    display: none;
  }

  .fixed {
    left: auto;
    width: 100%;

    @media #{$medium-up} {
      width: rem-calc(172);
    }

    @media #{$large-up} {
      width: rem-calc(280);
    }
  }

  ul {
    list-style: none;
    margin: 0;
  }

  li {
    background-color: $accordion-navigation-bg-color;
    padding: 0;

    a,
    i {
      color: $accordion-navigation-font-color;
      display: block;
      font-size: rem-calc(12);
      font-weight: bold;
      padding: $accordion-navigation-padding;
      text-transform: uppercase;

      @media #{$large-up} {
        font-size: $accordion-navigation-font-size;
      }
    }

    a {
      &:hover {
        background-color: $accordion-navigation-active-bg-color;
        text-decoration: none;
      }
    }

    &.active {
      background-color: $accordion-navigation-active-bg-color;
    }

    .dropdown {
      display: none;

      a:hover {
        background-color: lighten($tertiary-color, 10%);
      }
    }

  }
}
