<footer>
  <div class="row">
    <div id="footer-first" class="footer--column-1 medium-2 columns">
      <div class="block-region-footer-first">  <div class="region-layout">

        <ul>
          <li class="hide-in-footer">
            <a href="/about" class="hide-in-footer" target="" data-drupal-link-system-path="node/63">About</a>
          </li>
          <li>
            <a href="/news-opinion" target="" data-drupal-link-system-path="news-opinion">News</a>
          </li>
          <li>
            <a href="/programs" target="">Initiatives</a>
          </li>
          <li>
            <a href="/learning-library" target="" data-drupal-link-system-path="learning-library">Resources</a>
          </li>
          <li>
            <a href="/events" target="" data-drupal-link-system-path="events">Events</a>
          </li>
          <li class="hide-in-header">
            <a href="/press-room" class="hide-in-header" target="">Press Room</a>
          </li>
        </ul>




      </div>
      </div>
    </div>
    <div id="footer-middle" class="footer--column-2 medium-6 columns">
      <div class="block-region-footer-middle">  <div class="region-layout">


        <ul>
          <li>
            <a href="https://connect.americaspromise.org/?_ga=1.163979775.1366671337.1443629108" target="">Donate</a>
          </li>
          <li>
            <a href="http://www.americaspromise.org/contact-us" target="">Contact</a>
          </li>
          <li>
            <a href="http://www.americaspromise.org/join-our-email-list" target="">Email</a>
          </li>
          <li>
            <a href="http://www.americaspromise.org/legal" target="">Legal</a>
          </li>
        </ul>




      </div>
      </div>
    </div>
    <div id="footer-last" class="footer--column-3 medium-4 columns">
      <div class="block-region-footer-last">  <div class="region-layout">
        <div class="search-block-form search-form-block" data-drupal-selector="search-block-form-3" role="search">


          <form action="/search/node" method="get" id="search-block-form--3" accept-charset="UTF-8">
            <div class="js-form-item form-item js-form-type-search form-item-keys js-form-item-keys form-no-label">
              <label for="edit-keys--3" class="visually-hidden">Search</label>
              <input title="Enter the terms you wish to search for." data-drupal-selector="edit-keys" type="search" id="edit-keys--3" name="keys" value="" size="15" maxlength="128" placeholder="Search" class="form-search">

            </div>
            <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions--3"><input class="success button radius js-form-submit form-submit" data-drupal-selector="edit-submit" type="submit" id="edit-submit--3" value="Search">
            </div>

          </form>

        </div>
        <div class="site-address-block">


          <h2 class="site-name--footer">America's Promise Alliance</h2>
          <address>1110 Vermont Avenue, N.W. <br>Suite 900<br>Washington, DC 20005</address><span>Phone: 202.657.0600</span><span>Fax: 202.657.0601</span>
        </div>

      </div>
      </div>
    </div>
    <div class="row">
      <div class="medium-5 columns right">
        <div class="footer--copyright">© Copyright 2017 All rights reserved.</div>
      </div>
    </div>
  </div>
</footer>