///////////////////////////
// GradNation Section
//////////////////////////

.gradnation-section {

  .gradnation-section--text {
    text-align: center;
  }

  .gradnation-section--map-wrapper {
    text-align: center;

    @media #{$medium-up} {
      text-align: left;
    }

    h2 {
      color: $secondary-color;
      text-transform: uppercase;
      margin: 0;
    }
  }

  .stat-description {
    font-size: rem-calc(20);
  }

  .stat-large {
    font-size: rem-calc(64);
    margin: 0;

    @media #{$large-up} {
      display: inline-block;
    }
  }

  .lead {
    color: $secondary-color;
    font-weight: 200;

    @media #{$large-up} {
      font-size: rem-calc(20);
    }
  }
}

.gradnation-section--logo {
  max-width: rem-calc(350);
  margin-bottom: rem-calc(20);
}

.gradnation-section--map-placeholder {

  @media #{$large-up} {
    max-width: rem-calc(450);
  }
}

.gradnation-section--stats {

  @media #{$large-up} {
    display: flex;
  }
}