///////////////////////
// Recent news home
//////////////////////
.recent-news {
  background-color: $silver;

  > .row > .columns:first-child {
    margin-bottom: rem-calc(40);

    @media #{$medium-up} {
      margin-bottom: 0;
    }
  }
}

.recent-news--view {
  @media #{$large-up} {
    padding-right: rem-calc(20);
  }

  img {
    margin-bottom: rem-calc(10);
  }

  > .row {
    margin-bottom: rem-calc(20);

    @media #{$large-up} {
      margin-bottom: rem-calc(30);
    }

    &:last-child {
      margin-bottom: 0;

      .button {
        display: block;
        margin-bottom: 0;

        @media #{$medium-up} {
          display: inline-block;
        }
      }
    }
  }
}

.recent-news--twitter  {
  margin-top: rem-calc(40);

  @media #{$large-up} {
    margin-top: 0;
    
    .recent-news--twitter-items {
      border-left: 3px solid $tertiary-color;
    }

    > .row {
      padding-left: rem-calc(40);
    }
  }

  .twitter-status {
    background: $white;
  }
}