//////////////////////
// Recommit banner
/////////////////////
.recommit-banner {
  background: $primary-color url(../img/anniversary/wallpaper.jpg) repeat;

  p {
    color: $white;

    @media #{$large-up} {
      font-size: rem-calc(24);
    }
  }

  .small-4 {
    margin-bottom: rem-calc(20);

    @media #{$large-up} {
      margin-bottom: 0;
    }
  }


  .recommit-banner--button-container {
    text-align: center;

    @media #{$medium-up} {
      text-align: left;
    }
  }

  .button {
    margin-bottom: 0;
  }
}
