//////////////////////////////
// Search results search form
//////////////////////////////
.search-form {

  .search-form--filter {
    margin-bottom: rem-calc(40);

    @media #{$large-up} {
      padding-right: rem-calc(30);
    }
  }

  .search-form--results {
    border-left: 1px solid $silver;
    margin-bottom: rem-calc(40);

    @media #{$large-up} {
      padding-left: rem-calc(30);
    }
  }
}


.search-form--search-box {
  margin-bottom: rem-calc(40);

  .button {
    border-radius: 0 $global-radius $global-radius 0;
    margin-bottom: 0;
  }

  input {
    border-radius: $global-radius 0 0 $global-radius;
    display: block;
    padding: rem-calc(10);
    width: 100%;
  }
}

.search-form--search-results--item {
  border-bottom: 1px solid $silver;
  margin-bottom: rem-calc(30);
  padding-bottom: rem-calc(20);

  > p {
    margin-bottom: rem-calc(5);
  }
}

.search-form--search-results--item-details {
  display: flex;
  flex-wrap: wrap;

  ul {
    margin: 0;

    li:first-child {
      margin-right: rem-calc(5);
    }
  }

  p,
  li {
    color: $monsoon;
    font-size: $accordion-navigation-font-size;
    font-weight: 600;
    margin: rem-calc(0 5 5 0);
    padding: 0;
    text-transform: uppercase;

    &:after {
      content: "|";
      margin-left: rem-calc(10);
      margin-right: rem-calc(10);
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}